<style>
  .menuNavTopNew{
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: white!important;
  }
  .lIte{
      
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  }
  .lIte a {
  margin: 2rem;
}
.rItem i {
  margin: 2rem;
}
  .rItem {
 
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .lIte a {
  margin: 1rem 2rem;
}
.rIte a {
  margin:  1rem 2rem;
}
}
</style>

<div *ngIf='identity'>
  
  <div class="menuNavTopNew">
      <div class="lIte">
          <a [routerLink]="['/']" style="display: flex;
          align-items: center; ">
             <img src="./assets/img/logoSIBP.png" alt="" style="max-height: 40px;"> 

          </a>
      </div>
      <div class="rItem">
           <i class="fas fa-sign-out-alt logout" (click)="logout()"></i>
      </div>
  </div>

  </div>
 


  <!-- <div *ngIf='!identity'>
  
      <div class="menuNavTopNew">
          <div class="lIte">
              <a [routerLink]="['/']" style="display: flex;
              align-items: center; ">
                 <img src="../assets/img/logoSIBP.png" alt="" style="max-height: 40px;"> 
  
              </a>
          </div>
          
      </div>
  
  </div> -->







<router-outlet />
