<style>
    select {
        width: 100% !important;
    }

    .select {
        width: 100%;
    }

    .consulta h6 {
        color: #2c281f !important;
        font-weight: 900;
    }

    .label {
        color: #2c281f !important;
        display: block;
        font-size: 1rem;
        font-weight: 700;
    }

    span.requiredField {
        color: red;
        font-weight: 800;
        font-size: 1.2rem;
        margin-right: 3px;

        margin-top: 5;
    }

    input.button.is-success {
        background-color: #2c281f !important;
    }

    label.label {
        line-height: 1;
    }
</style>




<section class="container p-5" style="scrollbar-color: grey white;
        scrollbar-width: thin; margin-top: 0rem; margin: 0 auto!important; overflow: auto; ">
    <a *ngIf='identity' [mat-dialog-close] class="mb-5"
    style="display: block; font-size:.9rem; color: #494949; font-weight: 600;"><i
        class="fa-regular fa-circle-xmark" style="color: #9e9e9e; font-size: .8rem;"></i>&nbsp; CERRAR</a>
    <p class="subtitle is-5 has-text-centered" style="color: #2c281f; font-weight: 800;">{{titulo}}</p>
    <div class="consulta">
        <div class="content">



            <form #formAsset="ngForm" (ngSubmit)="onSubmit()">
                <div class="columns">
                    <div class="column">
                        <h6>DATOS</h6>
                        <!-- <h6>{{inmueble.arearesponsable.homoclave}}-{{inmueble.clasOG}}-001</h6> -->
                      
                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Subcuenta Armonizada</label>

                            <div class="select">
                                <select #subcuenta="ngModel" name="subcuenta" [(ngModel)]="asset.subcuenta">
                                    <option value="1.2.4.1">1.2.4.1</option>
                                    <option value="1.2.4.1.1">1.2.4.1.1</option>
                                    <option value="1.2.4.1.2">1.2.4.1.2</option>
                                    <option value="1.2.4.1.3">1.2.4.1.3</option>
                                    <option value="1.2.4.1.9">1.2.4.1.9</option>
                                    <option value="1.2.4.2">1.2.4.2</option>
                                    <option value="1.2.4.2.1">1.2.4.2.1</option>
                                    <option value="1.2.4.2.2">1.2.4.2.2</option>
                                    <option value="1.2.4.2.3">1.2.4.2.3</option>
                                    <option value="1.2.4.2.9">1.2.4.2.9</option>
                                    <option value="1.2.4.3">1.2.4.3</option>
                                    <option value="1.2.4.3.1">1.2.4.3.1</option>
                                    <option value="1.2.4.3.2">1.2.4.3.2</option>
                                    <option value="1.2.4.4">1.2.4.4</option>
                                    <option value="1.2.4.4.1">1.2.4.4.1</option>
                                    <option value="1.2.4.4.2">1.2.4.4.2</option>
                                    <option value="1.2.4.4.3">1.2.4.4.3</option>
                                    <option value="1.2.4.4.4">1.2.4.4.4</option>
                                    <option value="1.2.4.4.5">1.2.4.4.5</option>
                                    <option value="1.2.4.4.9">1.2.4.4.9</option>
                                    <option value="1.2.4.5">1.2.4.5</option>
                                    <option value="1.2.4.6">1.2.4.6</option>
                                    <option value="1.2.4.6.1">1.2.4.6.1</option>
                                    <option value="1.2.4.6.2">1.2.4.6.2</option>
                                    <option value="1.2.4.6.3">1.2.4.6.3</option>
                                    <option value="1.2.4.6.4">1.2.4.6.4</option>
                                    <option value="1.2.4.6.5">1.2.4.6.5</option>
                                    <option value="1.2.4.6.6">1.2.4.6.6</option>
                                    <option value="1.2.4.6.7">1.2.4.6.7</option>
                                    <option value="1.2.4.6.9">1.2.4.6.9</option>
                                    <option value="1.2.4.7">1.2.4.7</option>
                                    <option value="1.2.4.7.1">1.2.4.7.1</option>
                                    <option value="1.2.4.7.2">1.2.4.7.2</option>
                                    <option value="1.2.4.8">1.2.4.8</option>
                                    <option value="1.2.4.8.1">1.2.4.8.1</option>
                                    <option value="1.2.4.8.2">1.2.4.8.2</option>
                                    <option value="1.2.4.8.3">1.2.4.8.3</option>
                                    <option value="1.2.4.8.4">1.2.4.8.4</option>
                                    <option value="1.2.4.8.5">1.2.4.8.5</option>
                                    <option value="1.2.4.8.6">1.2.4.8.6</option>
                                    <option value="1.2.4.8.7">1.2.4.8.7</option>
                                    <option value="1.2.4.8.8">1.2.4.8.8</option>
                                    <option value="1.2.4.8.9">1.2.4.8.9</option>

                                </select>
                            </div>

                        </div>
                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>CÓDIGO DE LA PARTIDA ESPECIFICA</label>

                            <div class="select">
                                <select #codigo="ngModel" name="codigo" [(ngModel)]="asset.codigo">
                                    <option value="5100">5100</option>
                                                <option value="511">511</option>
                                                <option value="512">512</option>
                                                <option value="515">515</option>
                                                <option value="519">519</option>
                                                <option value="5200">5200</option>
                                                <option value="521">521</option>
                                                <option value="522">522</option>
                                                <option value="523">523</option>
                                                <option value="529">529</option>
                                                <option value="5300">5300</option>
                                                <option value="531">531</option>
                                                <option value="532">532</option>
                                                <option value="5400">5400</option>
                                                <option value="541">541</option>
                                                <option value="542">542</option>
                                                <option value="543">543</option>
                                                <option value="544">544</option>
                                                <option value="545">545</option>
                                                <option value="549">549</option>
                                                <option value="551">551</option>
                                                <option value="5600">5600</option>
                                                <option value="561">561</option>
                                                <option value="562">562</option>
                                                <option value="563">563</option>
                                                <option value="564">564</option>
                                                <option value="565">565</option>
                                                <option value="566">566</option>
                                                <option value="567">567</option>
                                                <option value="569">569</option>
                                                <option value="513">513</option>
                                                <option value="514">514</option>
                                                <option value="5700">5700</option>
                                                <option value="571">571</option>
                                                <option value="572">572</option>
                                                <option value="573">573</option>
                                                <option value="574">574</option>
                                                <option value="575">575</option>
                                                <option value="576">576</option>
                                                <option value="577">577</option>
                                                <option value="578">578</option>
                                                <option value="579">579</option>

                                </select>
                            </div>

                        </div>
                        
                       
                        <br>
                        <h6>CARACTERISTICAS</h6>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Número de Inventario</label>
                            <div class="control">
                                <input class="input" type="text" #noinventario="ngModel" name="noinventario"
                                    [(ngModel)]="asset.noinventario">
                            </div>
                            <span class="alertForm" *ngIf="!noinventario.valid && noinventario.touched">
                                El No. de inventario es obligatorio
                            </span>
                        </div>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Tipo de posesión</label>

                            <div class="select">
                                <select #tipo="ngModel" name="tipo" [(ngModel)]="asset.tipo">
                                    <option>I</option>
                                    <option>CO</option>

                                </select>
                            </div>

                        </div>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Descripción </label>
                            <div class="control">
                                <textarea class="input" rows="5" type="text" #desc="ngModel" name="desc"
                                    [(ngModel)]="asset.desc"></textarea>
                            </div>
                            <span class="alertForm" *ngIf="!desc.valid && desc.touched">
                                La Descripción obligatoria
                            </span>
                        </div>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Marca</label>
                            <div class="control">
                                <input class="input" type="text" #marca="ngModel" name="marca"
                                    [(ngModel)]="asset.marca">
                            </div>
                            <!--  <span class="alertForm" *ngIf="!marca.valid && marca.touched">
                                La marca es obligatoria
                            </span> -->
                        </div>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Modelo</label>
                            <div class="control">
                                <input class="input" type="text" #modelo="ngModel" name="modelo"
                                    [(ngModel)]="asset.modelo">
                            </div>
                            <!--  <span class="alertForm" *ngIf="!modelo.valid && modelo.touched">
                                El Modelo es obligatorio
                            </span> -->
                        </div>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>No. Serie</label>
                            <div class="control">
                                <input class="input" type="text" #noserie="ngModel" name="noserie"
                                    [(ngModel)]="asset.noserie">
                            </div>
                            <!-- <span class="alertForm" *ngIf="!noserie.valid && noserie.touched">
                                El número de serie es obligatorio
                            </span> -->
                        </div>

                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Estado del Bien</label>

                           

                            <div class="select">
                                <select #estado="ngModel" name="estado" [(ngModel)]="asset.estado">
                                    <option value="N">Nuevo</option>
                                    <option value="B">Bueno</option>
                                    <option value="RE">Regular</option>
                                    <option value="M">Malo</option>
                                    <option value="I">Inservible</option>



                                </select>
                            </div>


                            <!-- 
                            <span class="alertForm" *ngIf="!estado.valid && estado.touched">
                                El Estado del bien es obligatorio
                            </span> -->

                        </div>

                        <div class="field photoadd">
                            <div *ngIf="itempic" class="previewfoto"  [ngStyle]="{'background-image': 'url(' + itempic.base + ')'}">
                               
                            </div>
                            <label class="label"><span class="requiredField">*</span>Fotografía</label>
                            <div class="control">

                                <input class="input" name="foto" type="file" (change)="UpPhoto($event)"
                                    required>
                                 
                            </div>
                           

                        </div> 
                      
                        


                    </div>


                    <div class="column">




                        <h6>DATOS FINANCIEROS</h6>

                        <div class="field">
                            <label class="label">Costo de Adquisición</label>
                            <div class="control">
                                <input class="input" type="number" #costo="ngModel" name="costo"
                                    [(ngModel)]="asset.costo">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Depreciación acumulada</label>
                            <div class="control">
                                <input class="input" type="number" #depreciacion="ngModel" name="depreciacion"
                                    [(ngModel)]="asset.depreciacion">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Valor en libros</label>
                            <div class="control">
                                <input class="input" type="number" #valorenlibros="ngModel" name="valorenlibros"
                                    [(ngModel)]="asset.valorenlibros">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Póliza No.</label>
                            <div class="control">
                                <input class="input" type="number" #poliza="ngModel" name="poliza"
                                    [(ngModel)]="asset.poliza">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Fecha de Poliza</label>
                            
                            <div class="control">
                                <input class="input" type="date" #fechapoliza="ngModel" name="fechapoliza"
                                    [(ngModel)]="asset.fechapoliza">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Documento que ampara la propiedad del bien</label>

                            <div class="select">
                                <select #DAPB="ngModel" name="DAPB" [(ngModel)]="asset.DAPB">
                                    <option>CO</option>
                                    <option>CD</option>
                                    <option>CFDI</option>



                                </select>
                            </div>



                        </div>

                        <!-- <div class="field">
                            <label class="label"><span class="requiredField">*</span>Subir documento</label>
                            <div class="control">

                                
                                <input class="input" name="UpELDAPB" type="file" (change)="UpELDAPB($event)" required>
                               
                            </div>


                        </div> -->

                        <div class="field">
                            <label class="label">Fecha del Documento</label>
                            
                            <div class="control">
                                <input class="input" type="date" #fechaDAPB="ngModel" name="fechaDAPB"
                                    [(ngModel)]="asset.fechaDAPB">
                            </div>

                        </div>
                    </div>


                    <div class="column">

                        <h6>DATOS ADQUISICIÓN O ALTA</h6>


                        <div class="field">
                            <label class="label">Fecha de Adquisición o Alta</label>
                           
                            <div class="control">
                                <input class="input" type="date" #fechaalta="ngModel" name="fechaalta"
                                    [(ngModel)]="asset.fechaalta">
                            </div>

                        </div>


                        <div class="field">
                            <label class="label">Tipo de alta</label>

                            <div class="select">
                                <select #tipoalta="ngModel" name="tipoalta" [(ngModel)]="asset.tipoalta">
                                    <option>CM</option>
                                    <option>DN</option>
                                    <option>CO</option>


                                </select>
                            </div>



                        </div>

                        <br>
                        <h6>LOCALIZACIÓN DEL BIEN</h6>
                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>¿Localizado?</label>

                         

                            <div class="select">
                                <select #localizado="ngModel" name="localizado" [(ngModel)]="asset.localizado">
                                    <option value="no localizado">NO LOCALIZADO</option>
                                    <option value="localizado">LOCALIZADO</option>
                                



                                </select>
                            </div>


                            <!-- 
                            <span class="alertForm" *ngIf="!estado.valid && estado.touched">
                                El Estado del bien es obligatorio
                            </span> -->

                        </div>
                       
                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Área responsable</label>
                           

                            <div class="select">
                                <select (change)="checkIfOtherSelected()" #arearesponsableselect="ngModel"
                                    name="arearesponsableselect" [(ngModel)]="areaResElected">                        
                                    <option value="CENTRO DE JUSTICIA CIVICA">CENTRO DE JUSTICIA CIVICA</option>
                                    <option value="DESPACHO DE LA PRESIDENCIA MUNICIPAL">DESPACHO DE LA PRESIDENCIA MUNICIPAL</option>
                                    <option value="DIRECCION DE ADMINISTRACION">DIRECCION DE ADMINISTRACION</option>
                                    <option value="DIRECCION DE ADMINISTRACION DE LA SSC">DIRECCION DE ADMINISTRACION DE LA SSC</option>
                                    <option value="DIRECCION DE ANALISIS">DIRECCION DE ANALISIS</option>
                                    <option value="DIRECCION DE ARCHIVO MUNICIPAL">DIRECCION DE ARCHIVO MUNICIPAL</option>
                                    <option value="DIRECCION DE ATENCION A VIOLENCIA FAMILIAR Y DE GENERO">DIRECCION DE ATENCION A VIOLENCIA FAMILIAR Y DE GENERO</option>
                                    <option value="DIRECCION DE AUDITORIA">DIRECCION DE AUDITORIA</option>
                                    <option value="DIRECCION DE CATASTRO Y RECAUDACION FISCAL">DIRECCION DE CATASTRO Y RECAUDACION FISCAL</option>
                                    <option value="DIRECCION DE COMUNICACION SOCIAL E IMAGEN INSTITUCIONAL">DIRECCION DE COMUNICACION SOCIAL E IMAGEN INSTITUCIONAL</option>
                                    <option value="DIRECCION DE COMPETITIVIDAD ECONOMICA">DIRECCION DE COMPETITIVIDAD ECONOMICA</option>
                                    <option value="DIRECCION DE CUENTA PUBLICA">DIRECCION DE CUENTA PUBLICA</option>
                                    <option value="DIRECCION DE CULTURA Y ARTES">DIRECCION DE CULTURA Y ARTES</option>
                                    <option value="DIRECCION DE ECOLOGIA Y PROTECCION AL MEDIO AMBIENTE">DIRECCION DE ECOLOGIA Y PROTECCION AL MEDIO AMBIENTE</option>
                                    <option value="DIRECCION DE EDUCACION">DIRECCION DE EDUCACION</option>
                                    <option value="DIRECCION DE EGRESOS">DIRECCION DE EGRESOS</option>
                                    <option value="DIRECCION DE FOMENTO AGROPECUARIO">DIRECCION DE FOMENTO AGROPECUARIO</option>
                                    <option value="DIRECCION DE GOBERNACION">DIRECCION DE GOBERNACION</option>
                                    <option value="DIRECCION DE IMDIS (INSTITUTO MUNICIPAL DE PERSONAS CON DISCAPACIDAD)">DIRECCION DE IMDIS (INSTITUTO MUNICIPAL DE PERSONAS CON DISCAPACIDAD)</option>
                                    <option value="DIRECCION DE INGRESOS">DIRECCION DE INGRESOS</option>
                                    <option value="DIRECCION DE INNOVACION Y MODERNIZACIÓN GUBERNAMENTAL">DIRECCION DE INNOVACION Y MODERNIZACIÓN GUBERNAMENTAL</option>
                                    <option value="DIRECCION DE INVESTIGACION">DIRECCION DE INVESTIGACION</option>
                                    <option value="DIRECCION DE LICENCIAS DE CONSTRUCCION">DIRECCION DE LICENCIAS DE CONSTRUCCION</option>
                                    <option value="DIRECCION DE OBRAS PUBLICAS">DIRECCION DE OBRAS PUBLICAS</option>
                                    <option value="DIRECCION DE OPERADORA MUNICIPAL DE PROYECTOS ESTRATEGICOS">DIRECCION DE OPERADORA MUNICIPAL DE PROYECTOS ESTRATEGICOS</option>
                                    <option value="DIRECCION DE PARTICIPACION CIUDADANA">DIRECCION DE PARTICIPACION CIUDADANA</option>
                                    <option value="DIRECCION DE PLANEACION Y ADMINISTRACION">DIRECCION DE PLANEACION Y ADMINISTRACION</option>
                                    <option value="DIRECCION DE PLANEACION Y EVALUACION">DIRECCION DE PLANEACION Y EVALUACION</option>
                                    <option value="DIRECCION DE PROTECCION CIVIL Y BOMBEROS">DIRECCION DE PROTECCION CIVIL Y BOMBEROS</option>
                                    <option value="DIRECCION DE RECURSOS HUMANOS">DIRECCION DE RECURSOS HUMANOS</option>
                                    <option value="DIRECCION DE REGLAMENTOS">DIRECCION DE REGLAMENTOS</option>
                                    <option value="DIRECCION DE SALUD MUNICIPAL">DIRECCION DE SALUD MUNICIPAL</option>
                                    <option value="DIRECCION DE SEGURIDAD PUBLICA">DIRECCION DE SEGURIDAD PUBLICA</option>
                                    <option value="DIRECCION DE SERVICIOS PUBLICOS MUNICIPALES">DIRECCION DE SERVICIOS PUBLICOS MUNICIPALES</option>
                                    <option value="DIRECCION DE TRANSITO Y VIALIDAD">DIRECCION DE TRANSITO Y VIALIDAD</option>
                                    <option value="DIRECCION DE TRANSPARENCIA, ACCESO A LA INFORMACION PUBLICA Y PROTECCION DE DATOS PERSONALES">DIRECCION DE TRANSPARENCIA, ACCESO A LA INFORMACION PUBLICA Y PROTECCION DE DATOS PERSONALES</option>
                                    <option value="DIRECCION DE TURISMO, COMERCIO Y SERVICIOS">DIRECCION DE TURISMO, COMERCIO Y SERVICIOS</option>
                                    <option value="DIRECCION DEL CENTRO DE ATENCION PSICOLOGICA">DIRECCION DEL CENTRO DE ATENCION PSICOLOGICA</option>
                                    <option value="DIRECCION GENERAL DE LA CONSEJERIA JURIDICA">DIRECCION GENERAL DE LA CONSEJERIA JURIDICA</option>
                                    <option value="DIRECCION JURIDICA DE LA CONSEJERIA JURIDICA">DIRECCION JURIDICA DE LA CONSEJERIA JURIDICA</option>
                                    <option value="DIRECCION JURIDICA DE LA SSC">DIRECCION JURIDICA DE LA SSC</option>
                                    <option value="DIRECTOR DE PREVENCION SOCIAL DEL DELITO">DIRECTOR DE PREVENCION SOCIAL DEL DELITO</option>
                                    <option value="INSTITUTO MUNICIPAL DE LAS MUJERES">INSTITUTO MUNICIPAL DE LAS MUJERES</option>
                                    <option value="INSTITUTO MUNICIPAL DEL DEPORTE Y ACTIVACION FISICA">INSTITUTO MUNICIPAL DEL DEPORTE Y ACTIVACION FISICA</option>
                                    <option value="INSTITUTO TIZAYUQUENSE DE LA JUVENTUD">INSTITUTO TIZAYUQUENSE DE LA JUVENTUD</option>
                                    <option value="OFICIALIA MAYOR H. ASAMBLEA">OFICIALIA MAYOR H. ASAMBLEA</option>
                                    <option value="RASTRO MUNICIPAL">RASTRO MUNICIPAL</option>
                                    <option value="REGISTRO DEL ESTADO FAMILIAR">REGISTRO DEL ESTADO FAMILIAR</option>
                                    <option value="SECRETARIA DE BIENESTAR SOCIAL">SECRETARIA DE BIENESTAR SOCIAL</option>
                                    <option value="SECRETARIA DE DESARROLLO ECONOMICO">SECRETARIA DE DESARROLLO ECONOMICO</option>
                                    <option value="SECRETARIA DE FINANZAS">SECRETARIA DE FINANZAS</option>
                                    <option value="SECRETARIA DE LA CONTRALORIA MUNICIPAL">SECRETARIA DE LA CONTRALORIA MUNICIPAL</option>
                                    <option value="SECRETARIA DE OBRAS PUBLICAS">SECRETARIA DE OBRAS PUBLICAS</option>
                                    <option value="SECRETARIA DE SEGURIDAD CIUDADANA">SECRETARIA DE SEGURIDAD CIUDADANA</option>
                                    <option value="SECRETARIA DE SECRETARIA TECNICA DE LA SCC">SECRETARIA DE SECRETARIA TECNICA DE LA SCC</option>
                                    <option value="SECRETARIA EJECUTIVA DE SIPINNA">SECRETARIA EJECUTIVA DE SIPINNA</option>
                                    <option value="SECRETARIA GENERAL MUNICIPAL">SECRETARIA GENERAL MUNICIPAL</option>
                                    <option value="UNIDAD DE ASUNTOS INTERNOS">UNIDAD DE ASUNTOS INTERNOS</option>   
                                    <option value="OTRO">OTRO</option>
                                </select>
                            </div>

                            <br>

                            <div class="control" *ngIf="isOtherSelected">
                                <br>
                                <input class="input" type="text" #arearesponsableinput="ngModel"
                                    name="arearesponsableinput" [(ngModel)]="otherOption"
                                    placeholder="Escribe otra opción">
                            </div>

                            <span class="alertForm"
                                *ngIf="!arearesponsableselect.valid && arearesponsableselect.touched">
                                El Área responsable es obligatoria
                            </span>
                        </div>
                        <br>
                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Área presupuestal</label>
                           
                            <div class="select">
                                <select (change)="checkIfOtherSelectedPres()" #areapresupuestalselect="ngModel"
                                    name="areapresupuestalselect" [(ngModel)]="areaPresElected">


                                    <option value="CENTRO DE JUSTICIA CIVICA">CENTRO DE JUSTICIA CIVICA</option>
                                    <option value="DESPACHO DE LA PRESIDENCIA MUNICIPAL">DESPACHO DE LA PRESIDENCIA
                                        MUNICIPAL</option>
                                    <option value="DIRECCION DE ADMINISTRACION">DIRECCION DE ADMINISTRACION</option>
                                    <option value="DIRECCION DE ADMINISTRACION DE LA SSC">DIRECCION DE ADMINISTRACION DE
                                        LA SSC</option>
                                    <option value="DIRECCION DE ANALISIS">DIRECCION DE ANALISIS</option>
                                    <option value="DIRECCION DE ARCHIVO MUNICIPAL">DIRECCION DE ARCHIVO MUNICIPAL
                                    </option>
                                    <option value="DIRECCION DE ATENCION A VIOLENCIA FAMILIAR Y DE GENERO">DIRECCION DE
                                        ATENCION A VIOLENCIA FAMILIAR Y DE GENERO</option>
                                    <option value="DIRECCION DE AUDITORIA">DIRECCION DE AUDITORIA</option>
                                    <option value="DIRECCION DE CATASTRO Y RECAUDACION FISCAL">DIRECCION DE CATASTRO Y
                                        RECAUDACION FISCAL</option>
                                    <option value="DIRECCION DE COMUNICACION SOCIAL E IMAGEN INSTITUCIONAL">DIRECCION DE
                                        COMUNICACION SOCIAL E IMAGEN INSTITUCIONAL</option>
                                    <option value="DIRECCION DE COMPETITIVIDAD ECONOMICA">DIRECCION DE COMPETITIVIDAD
                                        ECONOMICA</option>
                                    <option value="DIRECCION DE CUENTA PUBLICA">DIRECCION DE CUENTA PUBLICA</option>
                                    <option value="DIRECCION DE CULTURA Y ARTES">DIRECCION DE CULTURA Y ARTES</option>
                                    <option value="DIRECCION DE ECOLOGIA Y PROTECCION AL MEDIO AMBIENTE">DIRECCION DE
                                        ECOLOGIA Y PROTECCION AL MEDIO AMBIENTE</option>
                                    <option value="DIRECCION DE EDUCACION">DIRECCION DE EDUCACION</option>
                                    <option value="DIRECCION DE EGRESOS">DIRECCION DE EGRESOS</option>
                                    <option value="DIRECCION DE FOMENTO AGROPECUARIO">DIRECCION DE FOMENTO AGROPECUARIO
                                    </option>
                                    <option value="DIRECCION DE GOBERNACION">DIRECCION DE GOBERNACION</option>
                                    <option
                                        value="DIRECCION DE IMDIS (INSTITUTO MUNICIPAL DE PERSONAS CON DISCAPACIDAD)">
                                        DIRECCION DE IMDIS (INSTITUTO MUNICIPAL DE PERSONAS CON DISCAPACIDAD)</option>
                                    <option value="DIRECCION DE INGRESOS">DIRECCION DE INGRESOS</option>
                                    <option value="DIRECCION DE INNOVACION Y MODERNIZACIÓN GUBERNAMENTAL">DIRECCION DE
                                        INNOVACION Y MODERNIZACIÓN GUBERNAMENTAL</option>
                                    <option value="DIRECCION DE INVESTIGACION">DIRECCION DE INVESTIGACION</option>
                                    <option value="DIRECCION DE LICENCIAS DE CONSTRUCCION">DIRECCION DE LICENCIAS DE
                                        CONSTRUCCION</option>
                                    <option value="DIRECCION DE OBRAS PUBLICAS">DIRECCION DE OBRAS PUBLICAS</option>
                                    <option value="DIRECCION DE OPERADORA MUNICIPAL DE PROYECTOS ESTRATEGICOS">DIRECCION
                                        DE OPERADORA MUNICIPAL DE PROYECTOS ESTRATEGICOS</option>
                                    <option value="DIRECCION DE PARTICIPACION CIUDADANA">DIRECCION DE PARTICIPACION
                                        CIUDADANA</option>
                                    <option value="DIRECCION DE PLANEACION Y ADMINISTRACION">DIRECCION DE PLANEACION Y
                                        ADMINISTRACION</option>
                                    <option value="DIRECCION DE PLANEACION Y EVALUACION">DIRECCION DE PLANEACION Y
                                        EVALUACION</option>
                                    <option value="DIRECCION DE PROTECCION CIVIL Y BOMBEROS">DIRECCION DE PROTECCION
                                        CIVIL Y BOMBEROS</option>
                                    <option value="DIRECCION DE RECURSOS HUMANOS">DIRECCION DE RECURSOS HUMANOS</option>
                                    <option value="DIRECCION DE REGLAMENTOS">DIRECCION DE REGLAMENTOS</option>
                                    <option value="DIRECCION DE SALUD MUNICIPAL">DIRECCION DE SALUD MUNICIPAL</option>
                                    <option value="DIRECCION DE SEGURIDAD PUBLICA">DIRECCION DE SEGURIDAD PUBLICA
                                    </option>
                                    <option value="DIRECCION DE SERVICIOS PUBLICOS MUNICIPALES">DIRECCION DE SERVICIOS
                                        PUBLICOS MUNICIPALES</option>
                                    <option value="DIRECCION DE TRANSITO Y VIALIDAD">DIRECCION DE TRANSITO Y VIALIDAD
                                    </option>
                                    <option
                                        value="DIRECCION DE TRANSPARENCIA, ACCESO A LA INFORMACION PUBLICA Y PROTECCION DE DATOS PERSONALES">
                                        DIRECCION DE TRANSPARENCIA, ACCESO A LA INFORMACION PUBLICA Y PROTECCION DE
                                        DATOS PERSONALES</option>
                                    <option value="DIRECCION DE TURISMO, COMERCIO Y SERVICIOS">DIRECCION DE TURISMO,
                                        COMERCIO Y SERVICIOS</option>
                                    <option value="DIRECCION DEL CENTRO DE ATENCION PSICOLOGICA">DIRECCION DEL CENTRO DE
                                        ATENCION PSICOLOGICA</option>
                                    <option value="DIRECCION GENERAL DE LA CONSEJERIA JURIDICA">DIRECCION GENERAL DE LA
                                        CONSEJERIA JURIDICA</option>
                                    <option value="DIRECCION JURIDICA DE LA CONSEJERIA JURIDICA">DIRECCION JURIDICA DE
                                        LA CONSEJERIA JURIDICA</option>
                                    <option value="DIRECCION JURIDICA DE LA SSC">DIRECCION JURIDICA DE LA SSC</option>
                                    <option value="DIRECTOR DE PREVENCION SOCIAL DEL DELITO">DIRECTOR DE PREVENCION
                                        SOCIAL DEL DELITO</option>
                                    <option value="INSTITUTO MUNICIPAL DE LAS MUJERES">INSTITUTO MUNICIPAL DE LAS
                                        MUJERES</option>
                                    <option value="INSTITUTO MUNICIPAL DEL DEPORTE Y ACTIVACION FISICA">INSTITUTO
                                        MUNICIPAL DEL DEPORTE Y ACTIVACION FISICA</option>
                                    <option value="INSTITUTO TIZAYUQUENSE DE LA JUVENTUD">INSTITUTO TIZAYUQUENSE DE LA
                                        JUVENTUD</option>
                                    <option value="OFICIALIA MAYOR H. ASAMBLEA">OFICIALIA MAYOR H. ASAMBLEA</option>
                                    <option value="RASTRO MUNICIPAL">RASTRO MUNICIPAL</option>
                                    <option value="REGISTRO DEL ESTADO FAMILIAR">REGISTRO DEL ESTADO FAMILIAR</option>
                                    <option value="SECRETARIA DE BIENESTAR SOCIAL">SECRETARIA DE BIENESTAR SOCIAL
                                    </option>
                                    <option value="SECRETARIA DE DESARROLLO ECONOMICO">SECRETARIA DE DESARROLLO
                                        ECONOMICO</option>
                                    <option value="SECRETARIA DE FINANZAS">SECRETARIA DE FINANZAS</option>
                                    <option value="SECRETARIA DE LA CONTRALORIA MUNICIPAL">SECRETARIA DE LA CONTRALORIA
                                        MUNICIPAL</option>
                                    <option value="SECRETARIA DE OBRAS PUBLICAS">SECRETARIA DE OBRAS PUBLICAS</option>
                                    <option value="SECRETARIA DE SEGURIDAD CIUDADANA">SECRETARIA DE SEGURIDAD CIUDADANA
                                    </option>
                                    <option value="SECRETARIA DE SECRETARIA TECNICA DE LA SCC">SECRETARIA DE SECRETARIA
                                        TECNICA DE LA SCC</option>
                                    <option value="SECRETARIA EJECUTIVA DE SIPINNA">SECRETARIA EJECUTIVA DE SIPINNA
                                    </option>
                                    <option value="SECRETARIA GENERAL MUNICIPAL">SECRETARIA GENERAL MUNICIPAL</option>
                                    <option value="UNIDAD DE ASUNTOS INTERNOS">UNIDAD DE ASUNTOS INTERNOS</option>
                                    <option value="OTRO">OTRO</option>
                                </select>
                            </div>

                            <br>

                            <div class="control" *ngIf="isOtherSelectedpres">
                                <br>
                                <input class="input" type="text" #areapresupuestalinput="ngModel"
                                    name="areapresupuestalinput" [(ngModel)]="otherOptionpres"
                                    placeholder="Escribe otra opción">
                            </div>

                            <span class="alertForm"
                                *ngIf="!areapresupuestalselect.valid && areapresupuestalselect.touched">
                                El Área presupuestal es obligatoria
                            </span>
                        </div>
                        <br>
                        <div class="field">
                            <label class="label"><span class="requiredField">*</span>Ubicación Física</label>
                           
                            <div class="select">
                                <select (change)="checkIfOtherSelectedUbi()" #ubicacionselect="ngModel"
                                    name="ubicacionselect" [(ngModel)]="UbiSelected">

                                    <option value="CENTRO DE JUSTICIA CIVICA">CENTRO DE JUSTICIA CIVICA</option>
                                    <option value="DESPACHO DE LA PRESIDENCIA MUNICIPAL">DESPACHO DE LA PRESIDENCIA
                                        MUNICIPAL</option>
                                    <option value="DIRECCION DE ADMINISTRACION">DIRECCION DE ADMINISTRACION</option>
                                    <option value="DIRECCION DE ADMINISTRACION DE LA SSC">DIRECCION DE ADMINISTRACION DE
                                        LA SSC</option>
                                    <option value="DIRECCION DE ANALISIS">DIRECCION DE ANALISIS</option>
                                    <option value="DIRECCION DE ARCHIVO MUNICIPAL">DIRECCION DE ARCHIVO MUNICIPAL
                                    </option>
                                    <option value="DIRECCION DE ATENCION A VIOLENCIA FAMILIAR Y DE GENERO">DIRECCION DE
                                        ATENCION A VIOLENCIA FAMILIAR Y DE GENERO</option>
                                    <option value="DIRECCION DE AUDITORIA">DIRECCION DE AUDITORIA</option>
                                    <option value="DIRECCION DE CATASTRO Y RECAUDACION FISCAL">DIRECCION DE CATASTRO Y
                                        RECAUDACION FISCAL</option>
                                    <option value="DIRECCION DE COMUNICACION SOCIAL E IMAGEN INSTITUCIONAL">DIRECCION DE
                                        COMUNICACION SOCIAL E IMAGEN INSTITUCIONAL</option>
                                    <option value="DIRECCION DE COMPETITIVIDAD ECONOMICA">DIRECCION DE COMPETITIVIDAD
                                        ECONOMICA</option>
                                    <option value="DIRECCION DE CUENTA PUBLICA">DIRECCION DE CUENTA PUBLICA</option>
                                    <option value="DIRECCION DE CULTURA Y ARTES">DIRECCION DE CULTURA Y ARTES</option>
                                    <option value="DIRECCION DE ECOLOGIA Y PROTECCION AL MEDIO AMBIENTE">DIRECCION DE
                                        ECOLOGIA Y PROTECCION AL MEDIO AMBIENTE</option>
                                    <option value="DIRECCION DE EDUCACION">DIRECCION DE EDUCACION</option>
                                    <option value="DIRECCION DE EGRESOS">DIRECCION DE EGRESOS</option>
                                    <option value="DIRECCION DE FOMENTO AGROPECUARIO">DIRECCION DE FOMENTO AGROPECUARIO
                                    </option>
                                    <option value="DIRECCION DE GOBERNACION">DIRECCION DE GOBERNACION</option>
                                    <option
                                        value="DIRECCION DE IMDIS (INSTITUTO MUNICIPAL DE PERSONAS CON DISCAPACIDAD)">
                                        DIRECCION DE IMDIS (INSTITUTO MUNICIPAL DE PERSONAS CON DISCAPACIDAD)</option>
                                    <option value="DIRECCION DE INGRESOS">DIRECCION DE INGRESOS</option>
                                    <option value="DIRECCION DE INNOVACION Y MODERNIZACIÓN GUBERNAMENTAL">DIRECCION DE
                                        INNOVACION Y MODERNIZACIÓN GUBERNAMENTAL</option>
                                    <option value="DIRECCION DE INVESTIGACION">DIRECCION DE INVESTIGACION</option>
                                    <option value="DIRECCION DE LICENCIAS DE CONSTRUCCION">DIRECCION DE LICENCIAS DE
                                        CONSTRUCCION</option>
                                    <option value="DIRECCION DE OBRAS PUBLICAS">DIRECCION DE OBRAS PUBLICAS</option>
                                    <option value="DIRECCION DE OPERADORA MUNICIPAL DE PROYECTOS ESTRATEGICOS">DIRECCION
                                        DE OPERADORA MUNICIPAL DE PROYECTOS ESTRATEGICOS</option>
                                    <option value="DIRECCION DE PARTICIPACION CIUDADANA">DIRECCION DE PARTICIPACION
                                        CIUDADANA</option>
                                    <option value="DIRECCION DE PLANEACION Y ADMINISTRACION">DIRECCION DE PLANEACION Y
                                        ADMINISTRACION</option>
                                    <option value="DIRECCION DE PLANEACION Y EVALUACION">DIRECCION DE PLANEACION Y
                                        EVALUACION</option>
                                    <option value="DIRECCION DE PROTECCION CIVIL Y BOMBEROS">DIRECCION DE PROTECCION
                                        CIVIL Y BOMBEROS</option>
                                    <option value="DIRECCION DE RECURSOS HUMANOS">DIRECCION DE RECURSOS HUMANOS</option>
                                    <option value="DIRECCION DE REGLAMENTOS">DIRECCION DE REGLAMENTOS</option>
                                    <option value="DIRECCION DE SALUD MUNICIPAL">DIRECCION DE SALUD MUNICIPAL</option>
                                    <option value="DIRECCION DE SEGURIDAD PUBLICA">DIRECCION DE SEGURIDAD PUBLICA
                                    </option>
                                    <option value="DIRECCION DE SERVICIOS PUBLICOS MUNICIPALES">DIRECCION DE SERVICIOS
                                        PUBLICOS MUNICIPALES</option>
                                    <option value="DIRECCION DE TRANSITO Y VIALIDAD">DIRECCION DE TRANSITO Y VIALIDAD
                                    </option>
                                    <option
                                        value="DIRECCION DE TRANSPARENCIA, ACCESO A LA INFORMACION PUBLICA Y PROTECCION DE DATOS PERSONALES">
                                        DIRECCION DE TRANSPARENCIA, ACCESO A LA INFORMACION PUBLICA Y PROTECCION DE
                                        DATOS PERSONALES</option>
                                    <option value="DIRECCION DE TURISMO, COMERCIO Y SERVICIOS">DIRECCION DE TURISMO,
                                        COMERCIO Y SERVICIOS</option>
                                    <option value="DIRECCION DEL CENTRO DE ATENCION PSICOLOGICA">DIRECCION DEL CENTRO DE
                                        ATENCION PSICOLOGICA</option>
                                    <option value="DIRECCION GENERAL DE LA CONSEJERIA JURIDICA">DIRECCION GENERAL DE LA
                                        CONSEJERIA JURIDICA</option>
                                    <option value="DIRECCION JURIDICA DE LA CONSEJERIA JURIDICA">DIRECCION JURIDICA DE
                                        LA CONSEJERIA JURIDICA</option>
                                    <option value="DIRECCION JURIDICA DE LA SSC">DIRECCION JURIDICA DE LA SSC</option>
                                    <option value="DIRECTOR DE PREVENCION SOCIAL DEL DELITO">DIRECTOR DE PREVENCION
                                        SOCIAL DEL DELITO</option>
                                    <option value="INSTITUTO MUNICIPAL DE LAS MUJERES">INSTITUTO MUNICIPAL DE LAS
                                        MUJERES</option>
                                    <option value="INSTITUTO MUNICIPAL DEL DEPORTE Y ACTIVACION FISICA">INSTITUTO
                                        MUNICIPAL DEL DEPORTE Y ACTIVACION FISICA</option>
                                    <option value="INSTITUTO TIZAYUQUENSE DE LA JUVENTUD">INSTITUTO TIZAYUQUENSE DE LA
                                        JUVENTUD</option>
                                    <option value="OFICIALIA MAYOR H. ASAMBLEA">OFICIALIA MAYOR H. ASAMBLEA</option>
                                    <option value="RASTRO MUNICIPAL">RASTRO MUNICIPAL</option>
                                    <option value="REGISTRO DEL ESTADO FAMILIAR">REGISTRO DEL ESTADO FAMILIAR</option>
                                    <option value="SECRETARIA DE BIENESTAR SOCIAL">SECRETARIA DE BIENESTAR SOCIAL
                                    </option>
                                    <option value="SECRETARIA DE DESARROLLO ECONOMICO">SECRETARIA DE DESARROLLO
                                        ECONOMICO</option>
                                    <option value="SECRETARIA DE FINANZAS">SECRETARIA DE FINANZAS</option>
                                    <option value="SECRETARIA DE LA CONTRALORIA MUNICIPAL">SECRETARIA DE LA CONTRALORIA
                                        MUNICIPAL</option>
                                    <option value="SECRETARIA DE OBRAS PUBLICAS">SECRETARIA DE OBRAS PUBLICAS</option>
                                    <option value="SECRETARIA DE SEGURIDAD CIUDADANA">SECRETARIA DE SEGURIDAD CIUDADANA
                                    </option>
                                    <option value="SECRETARIA DE SECRETARIA TECNICA DE LA SCC">SECRETARIA DE SECRETARIA
                                        TECNICA DE LA SCC</option>
                                    <option value="SECRETARIA EJECUTIVA DE SIPINNA">SECRETARIA EJECUTIVA DE SIPINNA
                                    </option>
                                    <option value="SECRETARIA GENERAL MUNICIPAL">SECRETARIA GENERAL MUNICIPAL</option>
                                    <option value="UNIDAD DE ASUNTOS INTERNOS">UNIDAD DE ASUNTOS INTERNOS</option>
                                    <option value="OTRO">OTRO</option>
                                </select>
                            </div>

                            <br>

                            <div class="control" *ngIf="isOtherSelectedUbi">
                                <br>
                                <input class="input" type="text" #areapresupuestalinput="ngModel"
                                    name="ubicacionfisicainput" [(ngModel)]="otherOptionUbi"
                                    placeholder="Escribe otra opción">
                            </div>

                            <span class="alertForm" *ngIf="!ubicacionselect.valid && ubicacionselect.touched">
                                La ubicación física es obligatoria
                            </span>
                        </div>
                        <br>
                        <h6>DATOS DEL RESGUARDANTE</h6>


                        <div class="field">
                            <label class="label">RFC</label>
                            <div class="control">
                                <input class="input" type="text" #RFC="ngModel" name="RFC" [(ngModel)]="asset.RFC"
                                    maxlength="18" style="text-transform:uppercase;"
                                    onkeyup="javascript:this.value=this.value.toUpperCase();">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Nombre completo</label>
                            <div class="control">
                                <input class="input" type="text" #nombrecompleto="ngModel" name="nombrecompleto"
                                    [(ngModel)]="asset.nombrecompleto">
                            </div>

                        </div>
                        <br>
                        <h6>DATOS DE LA BAJA</h6>

                        <div class="field">
                            <label class="label">Fecha del resguardo</label>
                           
                            <div class="control">
                                <input class="input" type="date" #fecharesguardo="ngModel" name="fecharesguardo"
                                    [(ngModel)]="asset.fecharesguardo">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Fecha del baja</label>
                           
                            <div class="control">
                                <input class="input" type="date" #fechabaja="ngModel" name="fechabaja"
                                    [(ngModel)]="asset.fechabaja">
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Tipo de baja</label>

                            <div class="select">
                                <select #tipobaja="ngModel" name="tipobaja" [(ngModel)]="asset.tipobaja">
                                    <option value="RO">ROBO</option>
                                    <option value="S">SINIESTRO</option>
                                    <option value="P">PERDIDA</option>
                                    <option value="O">OBSOLECENCIA</option>
                                    <option value="V">VENTA</option>
                                    <option value="DO">DONACIÓN</option>
                                    <option value="TC">TERMINÓ DE COMODATO</option>

                                </select>
                            </div>


                        </div>

                        <div class="field">

                            <label class="label">Documento que ampara la baja</label>

                            <!-- <div class="select">
                                <select #DAB="ngModel" name="DAB" [(ngModel)]="asset.DAB">
                                    <option>N/A</option>

                                </select>
                            </div> -->
                            <div class="control">
                                <input style="text-transform:uppercase;"
                                    onkeyup="javascript:this.value=this.value.toUpperCase();" class="input" type="text"
                                    #DAB="ngModel" name="DAB" [(ngModel)]="asset.DAB">
                            </div>

                        </div>

                        <!--    <div class="field">
                            <label class="label"><span class="requiredField">*</span>Subir documento</label>
                            <div class="control">

                                
                                <input class="input" name="UpELDAB" type="file" (change)="UpELDAB($event)" required>
                              
                            </div>


                        </div>
 -->



                        <input class="button is-success" type="submit" value="{{titulo}}" [disabled]="!formAsset.valid"
                            style="color: white;">







                    </div>

                </div>


            </form>



        </div>




    </div>


</section>


<footer class="footer" [class.hidden]="!identity">
    <div class="content has-text-centered">
        <p>
            <strong style="color: #2c281f; font-weight: 800;">SIBP</strong> by <a style="color: #7D99CF;"
                [routerLink]="['https://devs.tizayuca.gob.mx']">Devs_Tiza</a>. SISTEMA DE INVENTARIO DE BIENES PÚBLICOS.
        </p>
    </div>

</footer>